*{
    margin: 0;
}

/* .BoxClass{
    background-color: red;
    border-radius: 15px;
}  */

/* .clock{
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
} */


.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.item{
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    border: 5px solid red;
}